# Bitcoin Time-Series Analysis

### Set up environment

In [2]:
import pandas as pd
import numpy as np
from env import key

### Acquire data

Here I will test loading in the BTC/USD data in real-time. In a later iteration of this project, I will be creating a real-time comparative dashboard with both BTC/USD and DOGE/USD.

In [3]:
btc = pd.read_json('https://www.alphavantage.co/query?function=CURRENCY_EXCHANGE_RATE&from_currency=BTC&to_currency=USD&apikey=' + key)

In [5]:
btc

                      Realtime Currency Exchange Rate
1. From_Currency Code                             BTC
2. From_Currency Name                         Bitcoin
3. To_Currency Code                               USD
4. To_Currency Name              United States Dollar
5. Exchange Rate                       48463.37000000
6. Last Refreshed                 2021-03-03 01:01:01
7. Time Zone                                      UTC
8. Bid Price                           48463.37000000
9. Ask Price                           48463.38000000

Now I will read in the historical data I have in a csv file.

In [6]:
btc = pd.read_csv('bitcoin.csv')

In [7]:
btc

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4727772,1609372560,28801.47,28829.42,28785.64,28829.42,0.965221,27804.572129,28806.429798
4727773,1609372620,28829.42,28863.90,28829.42,28857.06,2.368831,68332.350629,28846.441863
4727774,1609372680,28850.49,28900.52,28850.49,28882.82,2.466590,71232.784464,28879.056266
4727775,1609372740,28910.54,28911.52,28867.60,28881.30,7.332773,211870.912660,28893.695831
4727776,1609372800,28893.21,28928.49,28893.21,28928.49,5.757679,166449.709320,28909.166061