# Dogecoin Time-Series Analysis

### Set up environment

In [1]:
import pandas as pd
import numpy as np

### Acquire and summarize data

In [11]:
df = pd.read_csv('DogecoinHistorical.csv')

In [16]:
df.head()

           Date     Price      Open      High       Low    Vol. Change %
0  Feb 04, 2021  0.041000  0.037000  0.041000  0.036789  14.49B    9.76%
1  Feb 03, 2021  0.037356  0.031388  0.037356  0.031388  12.96B   19.17%
2  Feb 02, 2021  0.031347  0.034816  0.034816  0.030692  11.55B   -9.65%
3  Feb 01, 2021  0.034694  0.036722  0.040650  0.034694  23.87B   -5.69%
4  Jan 31, 2021  0.036786  0.028309  0.040456  0.027335  44.58B   30.25%

In [17]:
# convert date column to datetime type
df.Date = pd.to_datetime(df.Date)
df.dtypes

Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Vol.                object
Change %            object
dtype: object

In [18]:
# set ds as index and sort
# this is a very important step!
df = df.set_index('Date').sort_index()
df.head()

               Price      Open      High       Low     Vol. Change %
Date
2020-03-04  0.002419  0.002499  0.002503  0.002373  201.62M   -3.19%
2020-03-05  0.002477  0.002419  0.002530  0.002419  122.20M    2.41%
2020-03-06  0.002486  0.002477  0.002500  0.002437   63.54M    0.37%
2020-03-07  0.002407  0.002490  0.002494  0.002392  112.33M   -3.19%
2020-03-08  0.002167  0.002407  0.002407  0.002159  181.08M   -9.96%

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 338 entries, 2020-03-04 to 2021-02-04
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     338 non-null    float64
 1   Open      338 non-null    float64
 2   High      338 non-null    float64
 3   Low       338 non-null    float64
 4   Vol.      338 non-null    object
 5   Change %  338 non-null    object
dtypes: float64(4), object(2)
memory usage: 18.5+ KB

In [21]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Price,338.0,0.004085,0.005440,0.001582,0.002479,0.002672,0.003393,0.046723
Open,338.0,0.003967,0.005018,0.001497,0.002479,0.002674,0.003391,0.045875
High,338.0,0.004348,0.006640,0.001643,0.002532,0.002731,0.003486,0.071812
Low,338.0,0.003777,0.004397,0.001145,0.002430,0.002654,0.003324,0.036789